In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Искусственный датасет Популяции Волков

**dist_from_city**: Расстояние от ближайшего города, где находятся волки

**amount_factory**: Количество заводов в городе

**evg_factory_emission**: Среднее кол-во выбросов на завод

**amount_homeless_dog**: Кол-во бездомных собак в городе

#### Генерируем данные

In [111]:
n = 1000

dist_from_city = np.random.choice(5000, n) + 17
amount_factory = np.random.choice(15, n) + 2
evg_factory_emission = np.random.choice(500, n) + 13
amount_homeless_dog = np.random.choice(1000, n) + 7

wolf_population = dist_from_city/50 + amount_factory*evg_factory_emission/50 + 5
wolf_population = [int(x) for x in wolf_population]

In [112]:
df = pd.DataFrame({"population":wolf_population, "dist":dist_from_city,
                   "amount_factory":amount_factory, "evg_fact_emission":evg_factory_emission,
                  "homeless_dog":amount_homeless_dog})
df

     population  dist  amount_factory  evg_fact_emission  homeless_dog
0           141  4901               4                483           518
1            43   248               4                419           286
2           170  3881              15                293           465
3           108  2271               6                486           731
4            40   732              10                102           771
..          ...   ...             ...                ...           ...
995         154  1688              13                447           430
996          79  3555               3                 53           714
997          59   605              10                213           964
998          80  2257               3                507           688
999         135  2693               9                426           207

[1000 rows x 5 columns]

In [81]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

#### Считаем нашу модель на основе всех параметров

In [113]:
y = df['population']
x = df[["dist", "amount_factory", "evg_fact_emission", "homeless_dog"]]

In [114]:
reg = LinearRegression().fit(x, y)
pred = reg.predict(x)
mean_absolute_error(pred, y)

9.49497070146228

#### Считаем нашу модель на основе всех параметров кроме кол-ва собак в городе

In [115]:
x = df[["dist", "amount_factory", "evg_fact_emission"]]
reg = LinearRegression().fit(x, y)
pred = reg.predict(x)
mean_absolute_error(pred, y)

9.486546568038907

#### Видим, что наш Таргет не линейно зависит от кол-ва заводов и среднего кол-ва выбросов, а от общего кол-ва выбросов на город

#### Вводим новую переменную по общему кол-ву выбросов

In [116]:
df['emission'] = df['amount_factory'] * df['evg_fact_emission']

In [117]:
x = df[["dist", "emission"]]
reg = LinearRegression().fit(x, y)
pred = reg.predict(x)
mean_absolute_error(pred, y)

0.24502923464566534