In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn

In [2]:
df = pd.read_csv('adult.csv', encoding='utf-8')
del df['fnlwgt']
df.head()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   education        48842 non-null  object
 3   educational-num  48842 non-null  int64
 4   marital-status   48842 non-null  object
 5   occupation       48842 non-null  object
 6   relationship     48842 non-null  object
 7   race             48842 non-null  object
 8   gender           48842 non-null  object
 9   capital-gain     48842 non-null  int64
 10  capital-loss     48842 non-null  int64
 11  hours-per-week   48842 non-null  int64
 12  native-country   48842 non-null  object
 13  income           48842 non-null  object
dtypes: int64(5), object(9)
memory usage: 5.2+ MB

#### Предположу, что параметры Capitel-gain и Capitel-loss со значениями 0 заменяют пустые значения. Учитывая, что пропусков более 90%, попросту удалим данные параметры

In [4]:
print('Количество нулевых значений Capital-gain: - ', round(len(df[df['capital-gain'] == 0])/len(df['capital-gain'])*100, 2), '%', sep='')
print('Количество нулевых значений Capital-loss: - ', round(len(df[df['capital-loss'] == 0])/len(df['capital-loss'])*100, 2), '%', sep='')

Количество нулевых значений Capital-gain: - 91.74%
Количество нулевых значений Capital-loss: - 95.33%

In [5]:
del df['capital-gain']
del df['capital-loss']
df.head()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,30,United-States,<=50K

#### Видим, что каждому Education соответствует свой Education-num, поэтому удалим параметр education

In [6]:
del df['education']

#### Заменим все значения "?" на NaN, и удалим все строки с NaN

In [7]:
df.loc[df["workclass"]=="?", "workclass"] = np.nan
df.loc[df["occupation"]=="?", "occupation"] = np.nan
df.loc[df["native-country"]=="?", "native-country"] = np.nan
df.dropna(inplace=True)

In [8]:
def change_gender(param):
    if param == 'Male':
        return 1
    else: return 0

df['gender_num'] = df['gender'].apply(change_gender)

del df['gender']

#### С помощью LabelEncoder и OneHotEncoder преобразуем наши категориальные параметры в дискретные

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
df_y = df['income']
le_y = LabelEncoder()
le_y.fit(df_y)
y = pd.Series(data=le_y.transform(df_y))

In [11]:
del df['income']

In [12]:
x= pd.get_dummies(df, columns=['workclass', 'marital-status', 'occupation', 'relationship', 'race', 'native-country'])
x.head()

,age,educational-num,hours-per-week,gender_num,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,40,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,50,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,40,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,40,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,34,6,30,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Логистическая регрессия

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [14]:
lg = LogisticRegression(max_iter=1000)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [15]:
lg.fit(x_train, y_train)
y_pred = lg.predict(x_test)

c:\users\pklek\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

#### Метрики

In [16]:
lg.score(x_train, y_train)

0.8298215131890696

In [17]:
lg.score(x_test, y_test)

0.8342301171961377

### SVM

In [18]:
from sklearn.svm import SVC

In [19]:
model = make_pipeline(StandardScaler(), SVC(gamma='auto'))
model.fit(x_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

#### Метрики

In [ ]:
model.score(x_train, y_train)

In [ ]:
model.score(x_test, y_test)